fastapi[all]
email-validator
psycopg # Postgresql driver for sqlalchemy
passlib[bcrypt] # For hashing password
sqlalchemy
sqlalchemy-utils # Create Database if not exist
python-jose[cryptography] # jwt tocken
